.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  display: inline-block;
}

.row {
  display: flex;
}

.empty {
  background-color: #fff;
  border: 1px solid #000;
}

.player {
  background-color: #f00;
  border: 1px solid #000;
}

.carrot {
  background-color: #ffa500;
  border: 1px solid #000;
  
}

.score {
  margin-top: 20px;
}
